@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Let's create your To Do List</h2>
    <a class="btn btn-success btn-sm text-white padding=20px;" asp-page="/TaskPages/Index">Click Here!</a>
</div>
