<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <Subtype>ContainerRegistry</Subtype>
    <DockerPublish>True</DockerPublish>
    <ResourceId>/subscriptions/f3f71e49-13e8-42cd-9021-8502f1ed51fa/resourceGroups/Projs/providers/Microsoft.Web/sites/ToDoListEY</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://todolistey.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>todolistey.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ToDoListEY</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ToDoListEY</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>